.navbar-side{
    position: fixed;
    background-color: #3f51b5;
    color: white;
    height: 100vh;
    padding: $s-size;
    width: $navbar-side-size;
    @media (max-width: 600px) {
        visibility: hidden;
    } 
}

//used to toggle the side nav
.visible{ visibility: visible; }
.hidden{ visibility: hidden; }

.fa-times{
    float: right;
    padding: $m-size 0;
}

.navbar-sandwich{
    visibility: hidden;
    @media (max-width: 600px) {
        visibility: visible;
        align-items: center;
    } 
}

.navbar-bar{
    width: 0;
    visibility: hidden;
    background-color: #3f51b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 600px) {
        width: 100%;
        height: $navbar-bar-size;
        padding: $s-size;
        visibility: visible;
    } 
}

.toggle-navbar-side{
    visibility: visible;
}




// .navbar{
//     position: fixed;
//     background-color: #3f51b5;
//     color: white;
//     height: 100vh;
//     padding: $s-size;
//     width: $navbar-side-size;

//     @media (max-width: 600px) {
//         height: $navbar-size;
//         width: 100vh;
//         overflow: hidden;
//         display: flex;
//         align-items: center;
//     }
// }

// .navbar-sandwich{
//     visibility: hidden;
//     @media (max-width: 600px) {
//         visibility: visible;
//         align-items: center;
//     }
    
// }

// .navbar-nav{
//     @media (max-width: 600px) {
//         visibility: hidden;
//     }
// }