//Colors
$primary-color: #93c178;
$secondary-color: #465c8b;
$accent-color: #f7e86a;
$accent-color-variant: #aca24a;
$text-color1: #dfdce3;
$button-color1: #4caf50;
$button-color2: #e74c3c;

//Spacing
$s-size:1.3rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 9.6rem;

//navbar
$navbar-bar-size: 7rem;
$navbar-side-size: 25rem;

